* { margin: 0; padding: 0;}
.h1-login{
    color: #fff 
}

.container-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blueviolet;
}
.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

input, button{
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.group-btn{
    display: flex;
    gap: 10px;
    width: 100%;
}
.group-btn button{
    width: 100%;
}

.group-btn button:hover{
    cursor: pointer;
    background-color: blue;
    color: #fff;
    font-weight: bold;
}